<% if current_user.nil? %>
  <%= link_to "Log In", "/login", method: :get %>
  <%= link_to "Register", "/register", method: :get %>
  <h1>Welcome to Robin's Ruby on Rails Code Project!</h1>
  <p>Users can create posts, comment on others' posts, and delete posts.</p>
  <p>Please Log in or register, by using one of the links above, to get started.</p>
<% else %>
  <%= link_to "Logout", "/logout", method: :delete %>

  <h1>Here are the posts!</h1>
  <hr><hr>
  <% @posts.each do |post| %>
    <section id="post-<%= post.id %>">
      <%= link_to "Post #: #{post.id}", "/posts/#{post.id}" %>
      <p>Author: <%= post.author(post.user_id) %></p>
      <p>Title: <%= post.title %></p>
      <p>Body: <%= post.body %></p>
      <hr>
    </section>
    <p>Comments: </p>
    <section id="comment-<%= post.id %>">
      <% post.comments.each do |comment| %>
        <p>Author: <%= comment.author(comment.user_id) %></p>
        <p>Body: <%= comment.body %></p>
    <% end %>
    <%= button_to "Comment", "/posts/#{post.id}/comments/new", method: :get, params: {user_id: session[:user_id]} %>
    <hr><hr>
  </section>
  <% end %>
  <%= button_to "Create a New Post", "/posts/new", method: :get, params: {user_id: session[:user_id]} %>
<% end %>
